.bg-img {
	background: url(../images/main.jpg) no-repeat center fixed;
	background-position-y: 0;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: calc(100vh - 74px);
	width: 100vw;
	position: absolute;
	opacity: .4;
	z-index: -1;
}

.navbar-brand {
	border-radius: 5px;
}

.content-wrapper{
	padding: 2%;
	display: flex;
}

.bed-content{
	display: flex;
	flex: 1 1 50%;
}

.btn.bed-wrapper{
	background: #dedede;
}